/node_modules
/public/images/global
/public/images/home
/public/images/slideshow
/public/images/faculty
/public/images/abstract
/public/images/committees
/public/hot
/public/storage
/storage/*.key
/storage/framework
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/.phpintel