h1, h2, h3, h4, h5
{
  color: var(--primary-color-dark);
  font-family: 'DMSerifDisplayRegular', sans-serif;
}

body
{
/*  font-family: 'WorkSansBold', sans-serif;*/
}

.main-title
{
  text-transform: capitalize;
  margin-bottom: 15px;
/*  font-family: CircularBook, sans-serif;*/
  font-size: 50px;
  line-height: normal;
  padding-inline: 13px;
}

.description
{
  padding: 0 15px;
}

.description ul
{
  list-style: inside;
  padding-left: 20px
}

.bio-wait
{
  font-size: 24px;
  animation-name: loading;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.section-title
{
  margin-bottom: 15px;
  font-family: 'DMSansRegular', 'WorkSansRegular', sans-serif;
  font-size: 20px;
  color: var(--primary-color);
  font-weight: bold;
  text-transform: none;
}

.about .doctor-container { margin-bottom: 25px; }
@media (max-width: 413px) { .about .doctor-container {height: 126px;} }
/*.about .container {  padding-top: 50px !important;  }*/
.about .doctor{  /*margin-bottom: 25px;*/ text-align:center; }
.about .doctor .img-container {
    background:#000000;
    position: relative;

/*    -webkit-clip-path: polygon(50% 0%, 100% 20%, 100% 80%, 50% 100%, 0 80%, 0 20%);*/
/*    clip-path: polygon(50% 0%, 100% 20%, 100% 80%, 50% 100%, 0 80%, 0 20%);*/
/*    -webkit-clip-path: circle(50%);*/
    clip-path: circle(50%);
    margin: 0 auto;
    max-width: 100px;
    padding: 2px;
/*    border-radius: 50%;*/
/*    border: 1px solid black;*/
}
.about .doctor .img-container > img {
    display: block;
    width:100%;
/*    -webkit-clip-path: polygon(50% 0%, 100% 20%, 100% 80%, 50% 100%, 0 80%, 0 20%);*/
/*    clip-path: polygon(50% 0%, 100% 20%, 100% 80%, 50% 100%, 0 80%, 0 20%);*/
    -webkit-clip-path: circle(50%);
    clip-path: circle(50%);
/*    filter: grayscale(100%);*/
    transition: all 0.3s;
    /*border-radius: 50%;
    border: 1px solid black;*/
}
.about .doctor:hover .img-container > img {
    filter: none;
  }
.about .doctor .doctor-info {
    min-height: 50px;
    padding-top:4px;
    line-height: normal;
}
.about .doctor .doctor-info span {
    display: block;
    font-size: 13px;
}

.img-container .fa-spinner
{
  position: absolute;
  top: 35%;
  left: 35%;
  z-index: 0;
  color: white;;
}

.member-image
{
  width: 96px;
  height: 96px;
  position: relative;
}

/* model popup */
.modal-popup-main {padding:35px;}

.center-col {
  float: none !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.bg-white {
  background: #fff !important;
}

.slider-subtitle5
{
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin-bottom: 50px;
  display: block;
  line-height: 27px;
}

.margin-four {
  margin-top: 4% !important;
  margin-bottom: 4% !important;
}

.highlight-button:hover {
  background-color: #000;
  border: 2px solid #000;
  color: #fff;
}

.highlight-button {
  border: 2px solid #000;
  display: inline-block;
  padding: 8px 20px 9px;
  font-size: 12px;
  color: #000;
  background-color: transparent;
}

.btn.btn-very-small {
  font-size: 17px;
  padding: 5px 12px;
  letter-spacing: 1px;
  font-weight: bold;
  transition: all 0.3s;
}

.bottom-link
{
  text-align: center;
  margin-bottom: 4rem;
}

.bottom-link p
{
  background-color: var(--primary-color);
  color: #FFFFFF;
  padding: 10px 30px;
  border-radius: 20px;
  text-transform: uppercase;
  font-weight: bold;
  width: 50%;
  margin: 0 auto;
}

@media(max-width: 549px)
{
  .bottom-link p
  {
    width: 75%;
  }
}

@keyframes loading {
  0% {transform: scale(1.0); opacity: 1}
  50% {transform: scale(1.2); opacity: 0.5}
  100% {transform: scale(1.0); opacity: 1}
}