.loginForm
{
    text-align: center;
}

.loginContainerOut {
    width: 100%;
    position: relative;
    padding-bottom: 60px;
}



.topLoginImage {
    width: 100%;
    position: relative;
}
.topLoginImageDesktop {
    width: 100%;
    height: auto;
}
.topLoginImageMobile {
    width: 100%;
    height: auto;
    display: none;
}
@media all and (max-width: 991px) {
    .topLoginImageDesktop {
        display: none;
    }
    .topLoginImageMobile {
        display: block;
    }
}





.loginContainer {
    width: 80%;
    margin: auto;
}
.loginTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 40px;
}
.loginTitleText {
    color: var(--second-color);
    font-family: 'DMSerifDisplayRegular';
    font-size: 40px;
}
.loginTitleLine {
    width: calc(100% - 160px);
    height: 5px;
    background-color: var(--primary-color);
    border-radius: 5px;
}




.loginInputsContainer {
    /* width: 510px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.oneInputContainer {
    width: 50%;
    /* margin-bottom: 15px; */
    display: flex;
    flex-direction: column;
    gap: 4px;
    /* align-items: center; */
    /* justify-content: space-between; */
}
.oneInputContainer:last-child {
    margin-bottom: 0px;
}
.oneInputContainer label {
    font-size: 20px;
    color: var(--primary-color);
    line-height: 1;
    margin-bottom: 0px;
    width: 80px;
    text-align: left;
}
.oneInputContainer input {
    width: 100%;
    height: 40px;
 	border: 0px;
 	border-bottom: 1px solid var(--primary-color);
 	background: white;
    /* padding-left: 15px;
    padding-right: 15px; */
}
.phoneContainer {
    width: 100%;
    height: 40px;
    display: flex;
    gap: 10px;
    overflow: hidden;
}
.phoneContainer select {
    width: max-content;
    height: 40px;
    outline: none;
    padding: 5px;
 	border: 0px;
 	border-bottom: 1px solid var(--primary-color);
}
.phoneContainer input {
    outline: none;
    width: 100%;
    padding: 5px;
 	border: 0px;
 	border-bottom: 1px solid var(--primary-color);
}
.submitButton {
    font-family: 'DMSerifDisplayRegular';
    margin-top: 30px;
    /* margin-left: 90px; */
    width: 200px;
    height: 40px;
    border-radius: 7px;
    color: white;
    background-color: var(--primary-color);
    transition: all 0.3s;
    border: 1px solid var(--primary-color);
}
.submitButton:hover {
    background-color: white;
    color: var(--primary-color);
}













/* CSS for error messages */
.error-messages {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ff0000;
    background-color: #ffebe8;
    color: #ff0000;
    border-radius: 5px;
}

.error-messages p {
    margin: 0;
}










@media all and (max-width: 630px) {
    .loginContainer {
        width: 90%;
    }
    .loginInputsContainer {
        width: 100%;
    }
    .loginContainerOut {
        padding-bottom: 50px;
    }
    .loginTitle {
        padding-bottom: 30px;
    }
    .loginTitleLine {
        display: none;
    }
    .loginTitleText {
        font-weight: bold;
    }
    .oneInputContainer label {
        font-size: 15px;
        width: 60px;
    }
    .oneInputContainer input {
        width: calc(100% - 70px);
        /*width: 255px;*/
        font-size: 14px;
        height: 40px;
        border-radius: 7px;
    }
    .phoneContainer {
        width: calc(100% - 70px);
        /*width: 255px;*/
        height: 40px;
        border-radius: 7px;
    }
    .phoneContainer select {
        font-size: 14px;
    }
    .phoneContainer input {
        font-size: 14px;
    }
    .submitButton {
        width: calc(100% - 70px);
        margin-left: 70px;
    }
}