.main-content {
	/* padding: 0px; */
  padding-top: 120px;
}
.container
{
}

.main-title-container
{
  margin-top: 2em;
  margin-bottom: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-title
{
  font-family: 'BlackerDisplayBold';
  color: #4779A9;
  text-transform: none;
  margin: 0;
}

.failed-main-title
{
  font-family: 'BlackerDisplayBold';
  text-transform: none;
  margin: 0;
}

.main-title span, .failed-main-title span
{
  font-size: 30px;
}

.button-section button
{
  -webkit-clip-path: circle(50%);
  clip-path: circle(50%);
  background-color: #00274D;
  color: #ffffff;
  width: 50px;
  height: 50px;
  border: 0;
  transition: all 0.3s;
}

.button-section button:hover
{
  background-color: #001a33;
}

.registration-id
{
  text-transform: none;
  font-family: 'WorkSansBold', sans-serif;
}

.registration-id-container, .payment-failed
{
  margin: 4rem 0;
}

.result-container
{
  min-height: calc(100vh - 402px);
  /*padding-top: 70px;*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact a
{
  color: #4779A9;
  text-decoration: underline;
}

.text-green
{
  color: #4779A9 !important;
}

.contact
{
  margin-bottom: 40px;
}

.contact .btn
{
  color: #ffffff;
  background-color: #00274D;
  text-decoration: none;
  transition: all 0.3s;
  border-radius: 10px;
  padding: 10px 25px;
  text-transform: uppercase;
  font-weight: 700;
}

.contact .btn:hover
{
  background-color: #001a33;
}

h3
{
  text-transform: none;
  line-height: 1.8;
  font-size: 18px;
}

@media all and (max-width: 1160px) {
	.result-container {
		min-height: calc(100vh - 350px);
	}
}

@media all and (max-width: 580px) {
  .button-section
  {
    display: none;
  }
}

.result-container .fas
{
  margin-bottom: 10px;
}

.purchase-text
{
  margin-top: 10px;
  text-transform: none;
}