@charset "utf-8";


/*
- Font
- Global
- Header
*/






/* ////////////////////////// -------------------- FONT -------------------- ////////////////////////// */
@font-face {
    font-family: 'WorkSansBold';
    src: url('../fonts/Work_Sans/static/WorkSans-Bold.ttf');
}

@font-face {
    font-family: 'WorkSansMedium';
    src: url('../fonts/Work_Sans/static/WorkSans-Medium.ttf');
}

@font-face {
    font-family: 'WorkSansRegular';
    src: url('../fonts/Work_Sans/static/WorkSans-Regular.ttf');
}

@font-face {
    font-family: 'BlackerDisplayBold';
    src: url('../fonts/Blacker-Display-Bold-trial.ttf');
}

@font-face {
    font-family: 'DMSerifDisplayRegular';
    src: url('../fonts/DM_Serif_Display/DMSerifDisplay-Regular.ttf');
}

@font-face {
    font-family: 'DMSansRegular';
    src: url('../fonts/DM_Sans/DMSans-Regular.ttf');
}

/* ////////////////////////// -------------------- FONT -------------------- ////////////////////////// */




/* ////////////////////////// -------------------- GLOBAL -------------------- ////////////////////////// */
body,
ul {
    font-family: 'DMSansRegular', 'WorkSansRegular', sans-serif;
    margin: 0px;
    padding: 0px;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.main-content {
    min-height: calc(100vh - 150px);
}

/* ////////////////////////// -------------------- GLOBAL -------------------- ////////////////////////// */





/* ////////////////////////// -------------------- HEADER -------------------- ////////////////////////// */
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 120px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.fixed-header {
    position: fixed;
    width: 100%;
    z-index: 10;
}

.logo {
    width: 177px;
    margin-left: 35px;
}

#desktop-menu ul {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 25px;
}

#desktop-menu a {
    /* margin-left: 20px;
    margin-right: 20px; */
    text-decoration: none;
    color: var(--primary-color);
    text-transform: capitalize;
    font-size: 16px;
    font-weight: bold;
    /* font-family: 'WorkSansBold', sans-serif; */
    position: relative;
}

#desktop-menu a:hover::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    border-bottom: 3px solid var(--second-color);
}

#desktop-menu a.menu-active::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    border-bottom: 3px solid var(--second-color);
}

#mobile-menu {
    display: none;
}

#desktop-menu .special-menu-last {
    padding: 10px 20px;
    background: var(--primary-color);
    color: white;
    border-radius: 199px;
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    text-transform: capitalize;
}

#desktop-menu .special-menu-last:hover {
    background: var(--primary-color-light);
}

#desktop-menu .special-menu-last:hover::after {
    display: none;
}

.slideToRegisterMenuMobile {
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    background: var(--primary-color);
    color: white !important;
    font-family: 'WorkSansBold', sans-serif;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    text-align: center;
    padding: 10px 15px !important;
}

/*@media (max-width: 1500px) {
    #desktop-menu a {
        margin-left: 20px;
        margin-right: 20px;
    }
}*/

@media (max-width: 1400px) {
    #desktop-menu a {
        margin-left: 10px;
        margin-right: 10px;
    }
}


/*@media (max-width: 1160px) {*/
@media (max-width: 1230px) {
    #desktop-menu {
        display: none;
    }

    .header-content {
        padding: 40px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .logo {
        /*width: 150px;*/
        width: 200px;
        margin-left: 0px;
    }

    #mobile-menu {
        display: block;
    }

    .menu-icon {
        width: 30px;
        height: 22px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
    }

    .menu-icon div {
        height: 2px;
        background: #000;
    }





    /*///// sliding menu code /////*/
    .sliding-menu {
        position: relative;
        z-index: 3000;
    }

    .sliding-menu ul {
        display: block;
        list-style: none;
    }

    .sliding-menu a {
        display: block;
        padding: 10px 25px;
        color: black;
        text-transform: uppercase;
    }

    .back-icon {
        text-align: right;
    }

    .sliding-menu {
        width: 100%;
        /*height: 100%;*/
        height: 100vh;
        position: absolute;
        left: 0%;
        background: rgba(0, 0, 0, 0.5);
        top: 0px;
        display: none;
    }

    .sliding-menu-in {
        position: absolute;
        right: -100%;
        width: 50%;
        top: 0px;
        height: 100%;
        background: white;
        transition: right 0.2s ease-in-out;
    }

    .sliding-menu a.menu-active {
        background-color: var(--primary-color);
        color: white;
    }

    .back-icon {}

    /*///// sliding menu code /////*/


}

/* ////////////////////////// -------------------- HEADER -------------------- ////////////////////////// */












/* ////////////////////////// -------------------- FOOTER -------------------- ////////////////////////// */
footer {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footerTopLine {
    width: 40%;
    height: 5px;
    background: var(--primary-color);
    border-radius: 5px;
    min-width: 300px;
}

.footerLogos {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
}

.footerLogos img:first-child {
    width: 220px;
}

.footerLogos img:last-child {
    width: 220px;
}

.footerBottom {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    background: var(--primary-color-dark);
    color: white;
    padding: 0 30px;
}

.footerText {
    /* padding-left: 30px; */
    font-size: 12px;
    font-family: 'DMSansRegular';
    text-transform: uppercase;
}

.byData {
    display: flex;
    /* padding-right: 25px; */
    text-transform: uppercase;
    align-items: center;
    gap: 20px;
}

.organizedBy {
    display: flex;
    align-items: center;
    /* padding-right: 25px; */
}

.organizedByText {
    font-size: 12px;
    padding-right: 8px;
}

.organizedBy img {
    /* width: 165px; */
}

.builtOn {
    display: flex;
    align-items: center;
}

.builtOnText {
    font-size: 14px;
}

.builtOn img {
    width: 80px;
}

@media all and (max-width: 1470px) {
    .footerText {
        /* width: 450px; */
        text-align: center;
    }
}

@media all and (max-width: 1020px) {
    .footerLogos {
        padding-bottom: 10px;
    }

    .footerBottom {
        flex-direction: column-reverse;
        height: auto;
        padding-bottom: 40px;
        padding-top: 40px;
    }

    .footerText {
        padding-left: 0px;
    }

    .byData {
        padding-right: 0px;
        padding-bottom: 10px;
        gap: 10px;
    }
}

@media all and (max-width: 719px) {
    .header-content {
        padding: 20px;
    }
}
@media all and (max-width: 650px) {
    .footerLogos img:first-child {
        width: 150px;
    }

    .footerLogos img:last-child {
        width: 150px;
    }
}

@media all and (max-width: 520px) {
    .footerBottom {
        padding-bottom: 20px;
        padding-top: 20px;
    }

    .organizedBy {
        /* padding-right: 15px; */
    }

    .organizedByText {
        font-size: 12px;
    }

    .organizedBy img {
        /* width: 145px; */
    }

    .builtOnText {
        font-size: 12px;
    }

    .builtOn img {
        /* width: 60px;
        position: relative;
        top: -1px; */
    }

    .footerText {
        width: 300px;
        font-size: 12px;
    }
}

@media all and (max-width: 440px) {
    .byData {
        padding-bottom: 15px;
    }
    
    .builtOn {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;
    }

    .organizedBy {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;
    }

    .organizedByText {
        padding-right: 0px;
    }
}

/* ////////////////////////// -------------------- FOOTER -------------------- ////////////////////////// */